<form>
  <fieldset class="form-group">
    <legend>GPRS</legend>
    <label for="dialNumInput" translate>DIAL_NUM</label>
    <input type="text" class="form-control" id="dialNumInput" ng-model="networkSettingsCtrl.dialNumGetSet"
      ng-model-options="{ getterSetter: true }" ng-virtual-keyboard>
    <label for="APNInput">APN</label>
    <input type="text" class="form-control" id="APNInput" ng-model="networkSettingsCtrl.APNGetSet"
      ng-model-options="{ getterSetter: true }" ng-virtual-keyboard>
  </fieldset>
</form>
  <fieldset class="form-group">
    <legend>WIFI</legend>
    <label>SSID
      <a href="" editable-select="networkSettingsCtrl.selectedSSID"
                  e-ng-options="item as item.ssid for item in networkSettingsCtrl.SSIDList"
                  onshow="networkSettingsCtrl.loadCurrentSSIDList()"
                  class="center-block">
        {{ networkSettingsCtrl.selectedSSID.ssid }}
      </a>
  </fieldset>
