.bjn-big-image
{
  margin: 0px;
  display: block;
  width: 139px;
  height: 139px;
}

.bjn-big-image a
{
  padding: 0px;
  overflow: hidden;
}

.bjn-big-image a img {
    max-width: 139px;
    max-height: 139px;
    min-width: auto;
    min-height: 139px;
}


@-webkit-keyframes border-pulsate-error {
    0%   { border-color: rgba(255, 0, 0, 1); }
    50% { border-color: rgba(255, 0, 0, 0); }
    100%   { border-color: rgba(255, 0, 0, 1); }
}

#MaterialSelectionWrapper {
  float:left;
  padding: 5px 0px 5px 15px;
  /*margin: 0px 5px 0px 5px;*/

}

.panel {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
}

.panel-body {
  overflow: hidden;
  padding: 5px 5px 5px 5px;
  /*padding: 0px  0px 0px 0px;*/
  /*margin: 5px 5px 5px 5px;*/
}

.balerstats-error
{
  -webkit-animation: border-pulsate-error 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  border: 20px solid #ddd;
}


@-webkit-keyframes border-pulsate-warning {
    0%   { border-color: rgba(255, 255, 0, 1); }
    50% { border-color: rgba(255, 255, 0, 0); }
    100%   { border-color: rgba(255, 255, 0, 1); }
}

.balerstats-warning
{
  -webkit-animation: border-pulsate-warning 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  border: 20px solid #ddd;
  background-color: #ddd;
}

.nopadding {
  padding: 0px 0px 0px 0px;
}

.jqx-widget {
  display: inline-block
}

.bjn-main-content
{
  height: 430px;
}
.balerstats
{
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border: 20px solid #ddd;
  background-color: #ddd;
}

.jqx-gauge-caption
{
    font-size: 30px;
}

.dougtest
{
  margin: 4px;
  display: block;
  width: 80px;
  height: 80px;
}

.dougtest a
{
  padding: 0px;
  overflow: hidden;
}

.dougtest a img {
    max-width: 75px;
    max-height: 75px;
    min-width: auto;
    min-height: 75px;
}

 #content
 {
    background-color: #f2f2f2;
    padding: 20px 0px;
    overflow: auto;
 }
 #tab-container
 {
    float: left;
    margin: 50px 0 0 0;
    width: 146px;
 }
 #tab-container ul
 {
    list-style: none;
    text-align: center;

 }
 #tab-container ul li
 {
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 8px solid #666;
    background-color: #ddd;
    margin: 8px 0;
 }
 #tab-container ul li a,
 #tab-container ul li a:visited
 {
    text-decoration: none;
    color: #666;
    display: block;
    padding: 15px 5px;
 }
 #tab-container ul li:hover
 {
    border-left: 8px solid #333;
 }
 #tab-container ul li a:hover
 {
    color: #000;
 }
 #tab-container ul li.selected
 {
    border-right: none;
    background-color: #fff;
    border-left: 8px solid #006699;
 }
 #main-container
 {
    min-height: 400px;
    margin: 0 0 0 125px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #888;
 }


 .dialogdemoBasicUsage #popupContainer {
   position: relative; }

 .dialogdemoBasicUsage .footer {
   width: 100%;
   text-align: center;
   margin-left: 20px; }

 .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
   font-size: 0.8em;
   margin-top: 50px; }

 .app-modal-window .modal-dialog {
     width: 700px;
 }

 @media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.navbar-left {
    float:left !important;
    margin-left:15px;
    margin-top: 13px;
    z-index: 1;
}

.navbar-text {
  position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 8px;
  font-size: 24px;
  z-index: -1;
}

.navbar-default .navbar-text {
  color: black;
  border-color: black;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

body {
  padding-top: 50px;
  color: black;
  font-size: 18px;
}

.webcam-live {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.badge {
  background-color: black;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.list-group {
  margin-bottom: 0px;
}

a.list-group-item, button.list-group-item {
    color: black;
}

.form-control {
  font-size: 18px;
  color: black;
}

.btn {
  font-size: 18px;
  color: black;
}

#baler-panel {
  font-size: 22px;
}

#baler-panel .badge {
  font-size: 22px;
}

.info-title {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.no-side-borders {
  border-left: none;
  border-right: none;
}

.editable-click, a.editable-click {
  font-weight: bold;
  color: #3175b0 !important;
  border-bottom: dashed 1px #3175b0;
}

.bale-type-picker {
  text-align: center;
  display: flex;
}
