<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" translate>
        BalerDisplay.Language
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-click="localizationCtrl.selectLanguage('en_us')"><a href="#" translate>BalerDisplay.English</a></li>
        <li ng-click="localizationCtrl.selectLanguage('es_us')"><a href="#" translate>BalerDisplay.Spanish</a></li>
    </ul>
</div>
