<!DOCTYPE html>
<html lang="en" ng-app="balerApp">
<head>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/index.css">
    <link href="./node_modules/angular-virtual-keyboard/css/angular-virtual-keyboard.css" rel="stylesheet">
    <link href="./node_modules/angular-xeditable-npm/dist/css/xeditable.css" rel="stylesheet">
    <script type="text/javascript">
    window.$ = window.jQuery = require("./node_modules/jquery/dist/jquery.js")
    </script>

    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-mocks/angular-mocks.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-translate/dist/angular-translate.js"></script>
    <script src="./node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="./node_modules/angular-virtual-keyboard/release/angular-virtual-keyboard.js"></script>
    <script src="./node_modules/angular-xeditable-npm/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <script src="./modalDialog.js"></script>

    <meta charset="UTF-8" name="viewport" content="user-scalable=no">
    <title translate>BalerDisplay.TITLE</title>
</head>
<body>
    <!-- <div id="main-container">
        <div ng-controller="ModalDemoCtrl">
            <button type="button" class="btn btn-primary btn-lg" ng-click="open()" translate>
                BalerDisplay.SettingsDialogButton
            </button>
        </div>
        <localization-chooser></localization-chooser>
        <input type='text' ng-model="t02" ng-virtual-keyboard/>
        <baler-stats-panel ng-controller="BalerCtrl as balerCtrl"></baler-stats-panel>
    </div> -->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-left" go-back><span class="glyphicon glyphicon-chevron-left"></span></button>
        <p class="navbar-text" ng-bind="title | translate">Logged in as</p>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul ng-controller="MenuCtrl as menuCtrl" class="nav navbar-nav">
        <li><a href="#SettingsMenu" ng-click="menuCtrl.closeMenu()" translate>SETTINGS</a></li>
        <li><a href="#" ng-click="menuCtrl.closeMenu()" translate>REPORT</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" translate>LANGUAGE<span class="caret"></span></a>
          <ul class="dropdown-menu" ng-controller="LocalizationCtrl as localizationCtrl">
             <li ng-click="localizationCtrl.selectLanguage('en_us'); menuCtrl.closeMenu()"><a href="#" translate>BalerDisplay.English</a></li>
             <li ng-click="localizationCtrl.selectLanguage('es_us'); menuCtrl.closeMenu()"><a href="#" translate>BalerDisplay.Spanish</a></li>
          </ul>
        </li>
        <li><a href="#" ng-click="menuCtrl.closeMenu()" translate>LOGOUT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Hook for main content -->
<div ng-view class="bjn-main-content"></div>

</body>
</html>
