<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" >
        <jqx-gauge ng-model="balerCtrl.balerData.currentWeight" jqx-settings="balerCtrl.gaugeSettings" ></jqx-gauge>
      </div>
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item no-side-borders">
                <span translate class="info-title">{{"CURRENT_BALE_TYPE"}}
                </span>
                <span class="clearfix">
                  <div ng-controller="BaleTypeSelectorCtrl as baleTypeSelectorCtrl">
                    <div class="small-image dougtest" float="right">
                      <a href="#" class="thumbnail">
                        <img class="center-block" ng-click="baleTypeSelectorCtrl.open()" ng-src="./BaleTypes/images/{{balerCtrl.balerData.baleType.imageName}}" />
                      </a>
                    </div>
                  </div>
                </span>
              </li>
              <li class="list-group-item no-side-borders">
                <span translate class="info-title">{{"LAST_BALE_TIME"}}
                </span>
                <span class="badge">
                  {{balerCtrl.baleEventService.baleEvents[0].baleDate.toLocaleDateString("en-US")}} {{balerCtrl.baleEventService.baleEvents[0].baleDate.toLocaleTimeString("en-US")}}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
