<div class="modal-header">
  <h3 class="modal-title" translate>BALER_EMPTIED_CONFIRMATION_TITLE</h3>
</div>
<div class="modal-body">
  <ul  class="list-group list-group-flush">
    <li class="list-group-item no-side-borders">
      <span translate class="info-title">{{"BalerStatsPanel.baleType"}}
      </span>
      <span class="badge" >
        <a href="#" ng-click="balerEmptiedConfirmationDlgCtrl.userChangeBaleTypeRequest()">
          {{balerEmptiedConfirmationDlgCtrl.balerEmptiedEvent.baleType.gui}}
        </a>
      </span>
    </li>
    <li class="list-group-item no-side-borders">
      <span translate class="info-title">{{"LAST_BALE_WEIGHT"}}
      </span>
      <span class="badge">
        {{balerEmptiedConfirmationDlgCtrl.balerEmptiedEvent.weight}}
      </span>
    </li>
    <li class="list-group-item no-side-borders">
      <span translate class="info-title">{{"LAST_BALE_TIME"}}
      </span>
      <span class="badge">
        {{balerEmptiedConfirmationDlgCtrl.balerEmptiedEvent.baleDate}}
      </span>
    </li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="balerEmptiedConfirmationDlgCtrl.confirm()" translate>CONFIRM</button>
  <button class="btn btn-warning" type="button" ng-click="balerEmptiedConfirmationDlgCtrl.cancel()" translate>CLOSE</button>
</div>
